.hosting-section {
     background: url(/assets/images/hosting-background.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: $width_percent;
     height: $height_percent;
     display: flex;
     align-items: center;
     justify-content: center;
}

.hosting-wrapper {
     display: flex;
     align-items: flex-start;
     gap: 1rem;
     width: 90vw;
     height: auto;
     margin: 3rem;
     padding: spacer(2.3);
     background-color: $bright ;
     border-radius: 10px;
     box-shadow: $shadow-sm;

     @include desktop {
          width: 95vw;
        }
      
        @include tablet-phone {
          flex-direction: column;
          align-items: flex-start;
        }

        @include phone {
          width: 95vw;
        }
}

.title-container {
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     gap: 4.5rem;
}

.hosting-info {
     padding: spacer(2);
}

.web-hosting {
     font-weight: 900;
}



