.service {
     padding: spacer(4) spacer(2);

	@include phone {
		padding: spacer(2) spacer(1);
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
}

.feature-info {
     text-align: center;
     width: 75%;
   
     @include desktop {
       width: 90%;
     }
   
     @include tablet-phone {
       width: 100%;
     }
}