@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

/* Default Font Variables */

$font-size-small: 14px;
$font-size-light: 15px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-xl: 28px;
$font-size-2xl: 36px;

$font-size-mobile-title: 2.2rem;
$font-size-title: 2.6rem;
$font-size-card-title: 2rem;
$font-size-card-mini-title: 2.2rem;
$font-size-phone-card-title: 2.4rem;
$font-size-tablet-card-title: 3rem;

/* Font Families */
$font-family-primary: 'Source Sans 3', sans-serif;
$font-family-secondary: 'Lexend', sans-serif;

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Line Height */
$line-height-small: 1.4;
$line-height-medium: 1.6;
$line-height-large: 1.8;
