// positions

$position_relative: relative;
$position_absolute: absolute;

$width_full: 100vw;
$width_percent: 100vw;
$width_medium: 65vw;
$width_half: 50vw;
$width_small: 35vw;

//height

$height_full: 100vh;
$height_percent: 100%;
$height_medium: 80%;
$height_half: 50vh;
$height_small: 35vh;

$top_none: 0;
$top_small: 5px;
$top_medium: 2rem;
$top_large: 4rem;
$left_none: 0;
$right_none: 0;
$bottom_none: 0;
