// positions

$width_full: 100vw;
$width_percent: 100%;
$width_medium: 65vw;
$width_half: 50vw;
$width_small: 35vw;

//height

$height_full: 100vh;
$height_percent: 100%;
$height_medium: 80%;
$height_auto: auto;
$height_half: 50vh;
$height_small: 35vh;

$top_small: 5px;
$top_medium: 2rem;
$top_large: 4rem;
