body {
  font-family: $font-family-primary;
  color: $color-primary;
}

// Headings
// --------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-family-secondary;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-large;
}

// Body text
// --------------------------------------------------

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

// text formats

b {
  font-weight: $font-weight-bold;
  font-size: $font-size-medium + 1;
}

// Lists
// --------------------------------------------------

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

// Monospaced
// --------------------------------------------------

tt,
code,
samp {
  font-family: $font-family-secondary;
  font-size: $font-size-small;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family-secondary;
  font-size: $font-size-small;
}

// Octicons
// --------------------------------------------------

// Move this over here as a temporary override to the octicons source repo
// instead of updating that upstream.
.octicon {
  vertical-align: text-bottom;
}