$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mixin for phones
@mixin phone {
  @media (max-width: $breakpoint-phone) {
    @content;
  }
}

// Mixin for tablets
@mixin tablet {
  @media (min-width: ($breakpoint-phone + 1)) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

// Mixin for tablets and phones
@mixin tablet-phone {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

// Mixin for desktops
@mixin desktop {
  @media (min-width: ($breakpoint-tablet + 1)) and (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Mixin for larger screens
@mixin large-desktop {
  @media (min-width: ($breakpoint-desktop + 1)) {
    @content;
  }
}