@mixin transition($property) {
	transition: $property 0.2s ease-in;
}

@mixin list-unstyled {
	list-style: none;
}

@mixin anchor-unstyled {
	text-decoration: none;
	color: inherit;
}

@mixin nav-item-hover {
	@include transition(color);

	&:hover {
		color: $color-link-hover;
	}
}