.btn {
  @include transition(background-color);

  display: inline-block;
  padding: spacer(1) spacer(2);
  border: none;
  border-radius: 4px;
  font-size: $font-size-medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-contained {
  background-color: darken($blue , 15%);
  color: $bright;
}

.btn:hover {
  background-color: darken($blue, 20%);
}

.btn:active {
  background-color: darken($blue, 20%);
  outline: none;
  box-shadow: 0 0 0 4px lighten($blue, 20%);
}