.card {
  flex-basis: 30%;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: $shadow-sm;
	background-color: $bright;

  @include desktop {
    flex-basis: 45%;
  }

  @include tablet-phone {
    flex-basis: 100%;
  }

	.card-img {
		width: 100px;
		height: 100px;
		margin-bottom: 0.5rem;
	}
	
	.card-title {
		font-weight: $font-weight-semibold;
		color: $color-dark-blue;
		margin-bottom: 1rem;
	}
	
	.card-info {
		margin-bottom: 0;
		color: $gray;
	}
}
