.title {
     font-weight: $font-weight-bold;
     font-family: $font-family-primary;
     font-size: $font-size-title;
     line-height: $line-height-small;
}

.para {
     font-weight: $font-weight-regular;
     font-family: $font-family-primary;
     font-size: $font-size-medium;
     line-height: $line-height-small;
}