#feature {
     @include container;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1.3rem;
     margin-bottom: 2rem;
}

.feature-info {
     width: 75vw;
}

.feature-title {
     text-align: center;
}

.feature-info {
     text-align: center;
}

.card-container {
     display: flex;
     flex-wrap: wrap;
     margin-inline: 2.2rem;
     gap: 2.6em;
}