* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.hero-section {
     width: 100vw;
     height: 100vh;
     position: relative;
}
   
.background-container {
     background: url(/assets/images/background.jpeg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 65vw;
     height: 50vh;
     position: absolute;
     top: 50px;
     left: 0;
     z-index: -10;
}

.hero-section-container {
  background-color: #fff;
  position: relative;
  height: 80%;
  right: 0;
  top: 5rem;
  margin-left: 3rem;
  border-radius: 10px;
}
   
   
   