.navbar {
  width: 100%;
  padding: spacer(2);
}

.nav-container {
  @include container;

  display: flex;
  align-items: center;
  height: 100%;

  @include tablet-phone {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brand-logo {
    width: 150px;
    height: 50px;

    @include phone {
      width: 120px;
      height: 40px;
    }
  }

  .navbar-brand {
    margin-right: spacer(3);
  }

  #navbar-toggler:checked ~ .nav-list {
    display: flex;
  }

  .nav-list {
    display: flex;
    flex-grow: 1;

    @include tablet-phone {
      display: none;
      width: 100%;
      padding: spacer(2) 0;
      flex-direction: column;
      flex-wrap: wrap;
    }

    // styles applied to all nav items
    .nav-item {
      @include list-unstyled;
      @include nav-item-hover;
    
      cursor: pointer;
      padding: spacer(1) spacer(2);

      @include desktop {
        padding: spacer(1);
      }

      @include tablet-phone {
        padding: spacer(2);
        border-bottom: 1px solid lighten($hr-color, 18%);
        order: 2;
      }

      .nav-link {
        @include anchor-unstyled;
        font-size: $font-size-medium;
      }
    }

    // styles applied to sign in button
    .nav-item:nth-child(5) {
      @include transition(color);

      margin-left: auto;
      color: $color-secondary;
      padding: spacer(1) 0;

      &:hover {
        color: darken($color-secondary, 15%);
      }

      @include desktop {
        padding: spacer(1);
      }

      @include large-desktop {
        padding: spacer(1) spacer(2);
      }

      @include tablet-phone {
        order: 1;
        border: none;
        width: 100%;

        .nav-link {
          @include transition(border);

          display: block;
          width: 100%;
          padding: spacer(1);
          border: 1px solid $color-secondary;
          border-radius: 4px;
          text-align: center;

          &:hover {
            border-color: $color-link-hover;
          }
        }
      }
    }

    // styles applied to register button
    .nav-item:nth-child(6) {
      padding: 0 spacer(1);

      @include tablet-phone {
        @include transition(border);

        padding: 0;
        border: none;

        order: 0;

        &:hover {
          border-color: $color-link-hover;
        }

        a {
          width: 100%;
        }
      }
    }
  }
}